#
# Codec configuration
#

menu "MXC HANTRO(Video Processing Unit) Secure support"
	depends on ARCH_FSL_IMX8MQ

config MXC_HANTRO_SECURE
	tristate "Support for Secure VPU driver with OPTEE"
	depends on TEE && OPTEE
	default n
	---help---
	  VPU secure driver.

endmenu
